.App {
  width: 100vw;
  height: 100vh;
}

*[role]:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
}


@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .container {
    max-width: 930px;
  }
}

@media only screen and (min-width: 850px) and (max-width: 1024px) {
  .container {
    max-width: 750px;
  }
  body {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 850px) {
  .container {
    max-width: 100%;
    padding-left: 28px;
    padding-right: 27px;
  }
  body {
    font-size: 14px;
    line-height: 20px;
  }
}
